/* Pon tu código css aqui */
body {
	margin:; 0;
	padding: 0; 

}
.box {
	width: 200px;
	height: 200px;
	
}
.caja1 {
	background-color: #EE3E64;
	left: 0px;
	top: 0px;
	position: absolute;
}
.caja2 {
	background-color: #44ACCF;
	right: 0px;
	top: 0px;
	position: absolute;
}
.caja3 {
	background-color: #b7d84b;
	left: 0px;
	bottom: 0px;
	position: absolute;
}
.caja4 {
	background-color: yellow;
	right: 0px;
	bottom: 0px;
	position: absolute;
}